
body {
  margin: 20px;
  display: flex;
  }

#slider-range {
  width: 300px;
  margin-right: 3em;
}

h1 {
  font-size: 1em;
  margin-right: 3em;
}

p {
  font-size: 0.5em;
  margin-right: 3em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}
